{% extends "layout.html" %}
{% load static %}
{% block title %}
Index
{% endblock %}

{% block main %}
<h1>Welcome to pizzapizza.com</h1>
<!-- .modal -->
<div class="modal fade" id="Mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align: left;">
                Item options
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
<main class="mt-3">
    <div class="container">
        <h1 class="display-4 mb-3">Menu</h1>
        <div class="row">
            <div class="col-md-8">
                <!-- div to contain the content -->
                <div id="scroller" class="mb-3">
                    <!-- template schema, hidden from the dom -->
                    <template id="menuitem_template">
                        <!-- template content -->
                        <div class="card mb-3 animated fadeIn shadow-sm">
                            <a href="" id="menuitem-link" class="link">
                                <div class="card-body">
                                    <h4 class="card-title left" id="menuitem-name"></h4>
                                </div>
                            </a>
                            <div class="card-footer text-center">
                                <button class="link btn btn-primary btn-sm btn-block float-right" id="add-btn">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-4">
                    <div class="card" id="cart-card">
                        <div class="card-header mb-3">
                            Cart
                        </div>
                        <div class="card-body" id="cart-card-body">
                            <ul>

                            </ul>
                        </div>
                        <div class="card-footer">
                            <a id="checkout-btn" class="btn btn-primary">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- element to trigger the IntersectionObserver -->
        <div class="d-flex justify-content-center mb-3" id="sentinel">
            <div class="spinner-border" role="status"></div>
        </div>
    </div>
    </div>
    <script src="{% static 'orders/index.js' %}"></script>
</main>
{% endblock %}
