nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}


main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.search {
    width: 150px;
}

#search-header {
    text-align: left;
}

.left {
    text-align: left;
}

.link:hover {
    text-color: green;
    text-decoration:none;
}

#comment{
box-shadow: 0 2px 0 #e6e6e6;
height: 40px;
padding-left: 10px;
width: 650px;
height: 200px;
}

#submit-btn {
    float: left;
}

#add-btn {
    width: 130px;
    text-weight: bold;
}

.comments-container {
    display: flex;
    align-items: left;
}

#username, #review {
    text-align: left;
}

/* Card used to show the menuitem */
.card {
    width: 650px;
    height: 200px;
}

/* Card to show the cart*/
#cart-card {
    position: fixed;
    top: 342px;
    width: 18rem;
}

#cart-card-body {
    text-align: left;
    height: overflow;
}
